*, *::before, *::after {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
    font-variant-numeric: lining-nums;
}

main {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.site-content {
    font-size: clamp(0.62rem, 0rem + 1vw, 1rem);
}

.site-content p {
    color: inherit;
    font-weight: 400;
    font-size: 0.875em;
    line-height: 1.786;
    text-align: justify;
    letter-spacing: 0.05em;
    margin: 1.786em 0;
}

.site-title {
    line-height: 1;
    font-weight: 400;
    font-size: 3.75em;
    letter-spacing: 0;
    text-transform: capitalize;
    font-variant-numeric: lining-nums;
    font-family: "Playfair Display", serif;
}

.site-title span {
    display: block;
    font-weight: 400;
    font-size: 0.25em;
    letter-spacing: 0.5em;
    text-transform: uppercase;
    font-family: "Open Sans", sans-serif;
    margin-bottom: 0.333em;
}

.site-arrow {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    color: inherit;
    background: none;
    position: relative;
    transition: 0.4s ease;
}

.site-arrow::before {
    -webkit-mask-size: contain;
    mask-size: contain;
    -webkit-mask-position: center;
    mask-position: center;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;

    -webkit-mask-image: url("images/site-arrow.png");
    mask-image: url("images/site-arrow.png");
    background: currentColor;
    position: relative;
    display: block;
    height: 1.25em;
    width: 2.563em;
    content: '';
}

.site-arrow.prev::before {
    transform: scaleX(-1);
}

.site-arrow:hover {
    opacity: 1;
}

.site-image {
    position: relative;
}

.site-image img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    object-position: center;
}

.site-image canvas {
    width: 100%;
    height: 100%;
    display: block;
}

/* Gallery Slider */
.gallery {
    width: 100%;
}

.gallery-wrap {
    width: 100%;
    color: #fff;
    margin: 0 auto;
    max-width: 1600px;
}

.gallery-list {
    position: relative;
}

.gallery-slider {}

.gallery-slider:not(.slick-initialized) {}

/* slide when not active */
.gallery-slider .slick-slide,
.gallery-slider .slick-cloned[aria-hidden="true"] {
    width: min(400px, 25vw);
}

/* slide when visible */
.gallery-slider .slick-slide.is-visible.is-cloned,
.gallery-slider .slick-slide.is-visible:not(.slick-cloned) {
    width: min(400px, 25vw);
    transition: width 0.5s 0.5s ease-in-out;
}

/* slide when active & visible */
.gallery-slider .slick-current.slick-active,
.gallery-slider .slick-slide.is-cloned:not(.is-visible),
.gallery-slider .slick-slide[aria-hidden="true"]:not([tabindex="-1"]) + .slick-cloned[aria-hidden="true"] {
    width: min(800px, 50vw);
    transition: width 0.5s 0.5s ease-in-out;
}

.gallery-slider .slick-slide > div {
    display: flex;
}

.gallery-slider .slick-active .gallery-card-info {
    transition-delay: 1.5s;
    opacity: 1;
}

.gallery-slider .slick-active .gallery-card-info-content::before {
    transition-delay: 1.8s;
    transform: scaleY(1);
}

.gallery-card {
    position: relative;
}

.gallery-card-photo {
    background: #000;
}

.gallery-card-photo img {
    opacity: 0.80;
}

.gallery-card-photo canvas {
    max-height: 650px;
    height: calc((650/1600)*100vw);
}

.gallery-card-info {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: 0.5s ease;
    /* padding: 78px 78px 0; */
    padding: 9.75% 9.75% 0;
}

.gallery-card-info-header {
    /* padding: 0 22px; */
    padding: 0 3.416%;
}

.gallery-card-info-content {
    position: relative;
    /* padding: 62px 0 55px 16px; */
    padding: 9.627% 0 8.54% 2.484%;
}

.gallery-card-info-content::before {
    position: absolute;
    content: '';
    top: 0;
    bottom: 0;
    width: 1px;
    right: 100%;
    background: #fff;
    transform: scaleY(0);
    margin-right: 1.625em;
    transform-origin: top;
    transition: transform 1s ease;
}

.gallery-card-info-content p {
    margin: 0;
}

.gallery-card-info-content strong {
    display: block;
    line-height: 1;
    font-weight: 400;
    font-size: 1.688em;
    letter-spacing: 0.08;
    text-transform: uppercase;
    font-family: "Playfair Display", serif;
    margin-bottom: 0.778em;
}

.gallery-arrow {
    position: absolute;
    bottom: 11.846%;
    right: 7.875%;
    z-index: 1;
    gap: 4.063em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.gallery-arrow .site-arrow {
    cursor: pointer;
}

.gallery-arrow .site-arrow:hover {
    opacity: 0.8;
}

@media only screen and (max-width: 991px) {
    .site-content {
        font-size: clamp(0.875rem, 0.447rem + 0.8929vw, 1rem);
    }

    .gallery-card-photo canvas {
        height: 100%;
    }

    .gallery-slider .slick-active .gallery-card-info {
        transition-delay: 0.5s;
    }

    .gallery-slider .slick-current.slick-active,
    .gallery-slider .slick-slide.is-visible.is-cloned,
    .gallery-slider .slick-slide.is-cloned:not(.is-visible),
    .gallery-slider .slick-slide.is-visible:not(.slick-cloned),
    .gallery-slider .slick-slide[aria-hidden="true"]:not([tabindex="-1"]) + .slick-cloned[aria-hidden="true"] {
        transition: none;
    }

    .gallery-slider .slick-active .gallery-card-info-content::before {
        transition-delay: 0.8s;
    }

    .gallery-card-info {
        padding-right: 7.875%;
    }

    .gallery-card-info-content {
        padding: 5.627% 0 12.54% 2.484%;
    }

    .gallery-arrow {
        bottom: 6.846%;
    }
}

@media only screen and (max-width: 567px) {
    .gallery-card-info {
        padding: 5em 2em 3em;
    }

    .gallery-card-info-content::before {
        content: unset;
    }

    .gallery-card-photo canvas {
        max-height: 500px;
    }
}

@media only screen and (max-width: 480px) {
    .gallery-card-info {
        padding-bottom: 6em;
    }

    .gallery-card-info-header {
        padding: 0;
    }

    .gallery-card-info-content {
        padding: 0;
    }

    .gallery-card-info-content p {
        display: -webkit-box;
        -webkit-line-clamp: 9;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }

    .gallery-card-photo::after {
        position: absolute;
        content: '';
        left: 0;
        right: 0;
        bottom: 0;
        height: 60%;
        background: linear-gradient(to top, rgba(0, 0, 0, 0.5), transparent);
    }

    .gallery-card-photo canvas {
        max-height: 100%;
        min-height: 600px;
    }

    .gallery-arrow {
        left: 0;
        right: 0;
    }
}